header {
  padding: 0 2rem;
}

/* Navbar */
#main-navbar {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  max-width: 1100px;
  margin: 0 auto;
  border-bottom: 1px solid hsl(220, 14%, 75%);
}

#main-navbar .nav-menu {
  display: none;
  justify-content: center;
  align-items: center;
  margin-right: 1.5rem;
}

#main-navbar .nav-menu svg {
  width: 16px;
  height: 15px;
}

#main-navbar .logo {
  margin-right: 2rem;
}

#main-navbar .nav-items {
  display: flex;
  align-items: center;
}

.nav-items .menu-close {
  display: none;
  align-items: center;
  justify-content: center;
}

.nav-items .menu-close svg {
  width: 14px;
  height: 15px;
  fill: hsl(219, 9%, 45%);
}

.nav-items .menu-close:active svg {
  fill: var(--primary-color);
}

.nav-items .nav-item {
  margin-right: 1.5rem;
}

.nav-item .btn-text {
  position: relative;
  transition: 0.3s ease-in-out;
}

.nav-item .btn-text:hover {
  color: hsl(220, 13%, 13%);
}

.nav-item .btn-text::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 4rem;
  transform-origin: center;
  transform: translate(-50%, -50%) scaleX(0);
  width: 100%;
  height: 4px;
  background-color: var(--primary-color);
  transition: 0.3s ease-in-out;
}

.nav-item .btn-text:hover::after {
  transform: translate(-50%, -50%) scaleX(1);
}

#main-navbar .profile-cart {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.profile-cart .profile-image {
  width: 3rem;
  height: 3rem;
  margin-left: 2.5rem;
  cursor: pointer;
  border-radius: 100%;
}

.profile-cart .profile-image:hover {
  box-shadow: var(--main-shadow);
}

.profile-image img {
  width: 100%;
  height: 100%;
}

.profile-cart .cart-basket {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-basket svg {
  width: 22px;
  height: 20px;
  fill: hsl(219, 9%, 45%);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.cart-basket svg:hover {
  fill: hsl(220, 13%, 13%);
}

.cart-basket .cart-count {
  position: absolute;
  bottom: 65%;
  left: 50%;
  background-color: var(--primary-color);
  color: hsl(0, 0%, 100%);
  font-size: 0.6rem;
  padding: 1px 8px;
  border-radius: 100%;
}

.cart-items-container {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  margin-top: 2rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 7px;
  box-shadow: 0.3em 1em 1em hsla(219, 9%, 45%, 0.15),
    -0.3em -0.1em 1em hsla(219, 9%, 45%, 0.15);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: 0.3s ease-in-out;
  z-index: 1000;
}

.show {
  transform: translateX(-50%) scaleX(1);
}

.cart-items-container .title {
  width: 100%;
  padding: 1rem;
  font-weight: 700;
  color: hsl(220, 13%, 13%);
  border-bottom: 1px solid hsl(220, 14%, 75%);
}

.cart-items-container .cart-items {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-bottom: 1.5rem;
  width: 22rem;
}

.cart-items li {
  display: flex;
  align-items: center;
}

.cart-items li:not(:last-child) {
  margin-bottom: 1rem;
}

.cart-items li .cart-product-image {
  width: 3rem;
  height: 3rem;
  border-radius: 5px;
  overflow: hidden;
}

.cart-product-image img {
  width: 100%;
  height: 100%;
}

.cart-items li .cart-product-info {
  flex: 1;
  margin: 0 1rem;
  font-size: 1rem;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.cart-items li .remove-product {
  padding: 2px;
  padding-bottom: 0;
}

.cart-items li .remove-product svg {
  width: 14px;
  height: 16px;
  fill: hsl(221, 22%, 81%);
}

.cart-items li .remove-product:hover svg {
  fill: var(--primary-color);
}

.cart-product-info .cart-product-name {
  overflow: hidden;
  text-overflow: ellipsis;
}

.cart-product-info .cart-product-price {
  margin-top: 0.3rem;
}

.cart-product-price .total-price {
  font-weight: 700;
  color: hsl(220, 13%, 13%);
}

.cart-items .btn-primary {
  width: 100%;
}

.cart-items-container .empty-cart {
  align-self: center;
  font-weight: 700;
  margin: 3rem 0;
}

@media (max-width: 1280px) {
  .cart-items-container {
    left: -200%;
  }
}

@media (max-width: 745px) {
  #main-navbar .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsla(0, 0%, 0%, 0.75);
    z-index: 1000;
  }

  #main-navbar .nav-menu {
    display: flex;
  }

  #main-navbar .nav-items {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2000;
    background-color: hsl(0, 0%, 100%);
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    transition: var(--main-transition);
    width: 0;
  }

  #main-navbar .show-nav {
    width: 70vw;
  }

  .nav-items .menu-close {
    display: flex;
    margin: 3rem 2rem;
  }

  .nav-items .nav-item {
    margin: 0 0 1.5rem 2rem;
  }

  .show-nav > * {
    opacity: 0;
    transform: translateY(-100%);
    animation: show-up 0.3s ease-in-out forwards 0.3s;
  }

  .nav-item .btn-text {
    font-size: 1.5rem;
    font-weight: 700;
    color: hsl(220, 13%, 13%);
  }
}

@media (max-width: 515px) {
  header {
    padding: 0 1rem;
  }

  #main-navbar {
    border-bottom: none;
    padding: 1.5rem 0;
  }

  .cart-items-container {
    margin-top: 3rem;
    left: unset;
    right: -6.7rem;
    transform: translateX(0) scaleX(0);
  }

  .show {
    transform: translateX(0) scaleX(1);
  }

  .cart-items-container .cart-items {
    width: 95vw;
    height: calc(45vh - 2.5rem);
  }

  .cart-items-container .empty-cart {
    margin: auto;
  }
}

@media (max-width: 375px) {
  #main-navbar .nav-menu {
    margin-right: 1rem;
  }

  #main-navbar .logo {
    margin-right: 1.5rem;
  }

  .profile-cart .profile-image {
    margin-left: 1.5rem;
  }

  .cart-items-container {
    right: -5rem;
  }
}

@keyframes show-up {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
