* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: hsl(219, 9%, 45%);
}

li {
  list-style: none;
}

#root {
  overflow-x: hidden;
}
