* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--primary-text-color);
}

li {
  list-style: none;
}

#root {
  overflow-x: hidden;
}

/* Media queries for touch screens */
@media (hover: none) {
  * {
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}
