.btn {
  display: inline-block;
  font-family: inherit;
  font-weight: 400;
  font-size: 1rem;
  background: none;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary-color);
  color: hsl(0, 0%, 100%);
  padding: 1rem 2rem;
  transition: 0.3s ease-in-out;
}

.btn-primary:hover {
  opacity: 0.7;
}

.btn-text {
  color: inherit;
}
