:root {
  --primary-color: hsl(26, 100%, 55%);
  --secondary-color: hsl(25, 100%, 94%);

  --a: hsl(220, 13%, 13%);
  --a: hsl(219, 9%, 45%);
  --a: hsl(220, 14%, 75%);
  --a: hsl(223, 64%, 98%);
  --a: hsl(0, 0%, 100%);
  --a: hsl(0, 0%, 0%);
  --op: 0.75;
}
